<%- include('../partials/head.ejs') %>
<%- include('../partials/navbar_admin.ejs') %>
		<div class="container">
			<div class="error">
				<h1>404 page not found. Return to <a href="/"><u>home page.</u></a></h1>
			</div><!-- /error -->
		</div><!-- /container -->
<%- include('../partials/footer.ejs') %>