	</div><!-- /main -->

	<footer>
		<div class="container">
			<ul class="social">
				<li><a href="https://www.instagram.com/maclaughlingrain/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
			</ul><!-- /social -->

			<div class="footer-middle">
				<p><script>document.write(new Date().getFullYear());</script> Maclaughlin Grain. All rights resevered.</p>
				<br>
				<p><a href="mailto:robertdcmac@gmail.com">robertdcmac@gmail.com</a></p>
			</div><!-- /footer-middle -->
		</div><!-- /container -->
	</footer><!-- /footer -->
	
	<!-- scripts -->
	<script src="/static/js/script.js"></script>
</body>
</html>