	<header class="navbar">
		<div class="container">
			<a href="/" class="logo"><img src="/static/assets/logo.png" alt="logo"></a>
			
			<div id="navbar-mobile">
				<div class="nav-toggle">
					<div class="nav-toggle-bar"></div>
				</div><!-- /nav-toggle -->

				<nav class="nav">
					<ul>
						<li><a href="/">Shop</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</nav><!-- /nav -->
			</div><!-- /navbar-mobile -->

			<div id="navbar-desktop">
				<nav>
					<ul>
						<li><a href="/">Shop</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/contact">Contact</a></li>
					</ul>
				</nav>
			</div><!-- /navbar-desktop -->
		</div><!-- /container -->
	</header><!-- /navbar -->
	
	<div class="main">