// product
.product {
	transition: all 0.1s linear;
	max-width: 90%;
	margin: 0 auto;
	padding: 25px;

	img {
		@include undraggable-img;
		width: 100%;
	}

	.name {
		float: left;
	}

	.price {
		float: right;
	}

	&:hover {
        @include product-hover;
        cursor: pointer;
    }
}

.fade-in {
	opacity: 0; // animation on fade-in
}

.product.is-visible {
	animation: Items 600ms ease-in forwards;
}

@keyframes Items {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}