* {
	margin: 0;
	padding: 0;
}

html, body {
	height: calc(100% - 150px); // account for .main push down under header!
	width: 100%;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: $black;
}

a:hover {
	opacity: 0.5;
	transition: opacity 0.2s;
}