<!DOCTYPE html>
<html>
<head>
	<!-- meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta property="og:site_name" content="Maclaughlin Grain"/>
	<meta property="og:title" content="Maclaughlin Grain" />
	<meta property="og:description" content="" />

	<!-- title -->
	<title>Maclaughlin Grain - About</title>

	<!-- links -->
	<link rel="shortcut icon" type="image/png" href="favicon.ico" />
	<link href="https://fonts.googleapis.com/css?family=Alegreya:400,500,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<header class="navbar">
		<div class="container">
			<a href="./index.html" class="logo"><img src="./assets/logo.png" alt="logo"></a>

			<div id="navbar-mobile">
				<div class="nav-toggle">
					<div class="nav-toggle-bar"></div>
				</div><!-- /nav-toggle -->

				<nav class="nav">
					<ul>
						<li><a href="index.html">Shop</a></li>
						<li><a class="current-page" href="./about.html">About</a></li>
						<li><a href="./contact.html">Contact</a></li>
					</ul>
				</nav><!-- /nav -->
			</div><!-- /navbar-mobile -->

			<div id="navbar-desktop">
				<nav>
					<ul>
						<li><a href="index.html">Shop</a></li>
						<li><a class="current-page" href="#">About</a></li>
						<li><a href="./contact.html">Contact</a></li>
					</ul>
				</nav>
			</div><!-- /navbar-desktop -->
		</div><!-- /container -->
	</header><!-- /navbar -->
	
	<div class="main">
		<div class="container">
			<div class="about">
				<div class="box box-logo">
					<img src="./assets/logo-lg.png" alt="">
				</div><!-- /box-logo -->
				
				<div class="box box-header">
					<h1>About</h1>
				</div><!-- /box-header -->

				<div class="box box-bio">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at viverra felis. Sed ante purus, elementum congue egestas ut, commodo vitae tellus. Praesent aliquam tellus et nulla scelerisque, eget euismod nunc dignissim. Ut turpis arcu, ultricies ut sapien et, feugiat pulvinar sem. Maecenas pellentesque commodo mi, a aliquet urna congue in. Nulla nec metus tincidunt, laoreet justo non, blandit erat.</p>
				</div><!-- /box-bio -->
				
			</div><!-- /about -->
		</div><!-- /container -->
	</div><!-- /main -->
	
	<footer>
		<div class="container">
			<ul class="social">
				<li><a href="https://www.instagram.com/maclaughlingrain/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
			</ul><!-- /social -->

			<div class="footer-middle">
				<p><script>document.write(new Date().getFullYear());</script> Maclaughlin Grain. All rights resevered.</p>
				<br>
				<p><a href="mailto:contact@maclaughlingrain.ca">contact@maclaughlingrain.ca</a></p>
			</div><!-- /footer-middle -->
		</div><!-- /container -->
	</footer><!-- /footer -->
	
	<!-- scripts -->
	<script src="js/script.js"></script>
</body>
</html>