<!DOCTYPE html>
<html>
<head>
	<!-- meta -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
	<meta name="viewport" content="width=device-width, user-scalable=no" />
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta property="og:site_name" content="Maclaughlin Grain"/>
	<meta property="og:title" content="Maclaughlin Grain" />
	<meta property="og:description" content="" />

	<!-- title -->
	<title>Maclaughlin Grain - About</title>

	<!-- links -->
	<link rel="shortcut icon" type="image/png" href="favicon.ico" />
	<link href="https://fonts.googleapis.com/css?family=Alegreya:400,500,700,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>
	<header class="navbar">
		<div class="container">
			<a href="./index.html" class="logo"><img src="./assets/logo.png" alt="logo"></a>

			<div id="navbar-mobile">
				<div class="nav-toggle">
					<div class="nav-toggle-bar"></div>
				</div><!-- /nav-toggle -->

				<nav class="nav">
					<ul>
						<li><a href="index.html">Shop</a></li>
						<li><a href="./about.html">About</a></li>
						<li><a class="current-page" href="./contact.html">Contact</a></li>
					</ul>
				</nav><!-- /nav -->
			</div><!-- /navbar-mobile -->

			<div id="navbar-desktop">
				<nav>
					<ul>
						<li><a href="index.html">Shop</a></li>
						<li><a href="./about.html">About</a></li>
						<li><a class="current-page" href="./contact.html">Contact</a></li>
					</ul>
				</nav>
			</div><!-- /navbar-desktop -->
		</div><!-- /container -->
	</header><!-- /navbar -->
	
	<div class="main">
		<div class="container">
			<div class="contact">
				
				<div class="box box-info">
					<h1>Contact</h1>
					<br>
					<p>Robert Maclaughlin
					<br>123-456-7890
					<br><a href="mailto:contact@maclaughlingrain.ca">contact@maclaughlingrain.ca</a></p>
				</div><!-- /box-header -->
				
				<div class="box box-form">
					<form action="">
						<input id="name" name="name" placeholder="Name" type="text">
						<br>
						<input id="email" name="email" placeholder="Email" type="text">
						<br>
						<input id="subject" name="subject" placeholder="Subject" type="text">
						<br>
						<textarea name="message" id="message" placeholder="Message" cols="30" rows="10"></textarea>
						<br>
						<input id="submit" type="submit">
					</form>
				</div><!-- /box-form -->
			</div><!-- /about -->
		</div><!-- /container -->
	</div><!-- /main -->
	
	<footer>
		<div class="container">
			<ul class="social">
				<li><a href="https://www.instagram.com/maclaughlingrain/" target="_blank"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></li>
				<li><a href="#"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
			</ul><!-- /social -->

			<div class="footer-middle">
				<p><script>document.write(new Date().getFullYear());</script> Maclaughlin Grain. All rights resevered.</p>
				<br>
				<p><a href="mailto:contact@maclaughlingrain.ca">contact@maclaughlingrain.ca</a></p>
			</div><!-- /footer-middle -->
		</div><!-- /container -->
	</footer><!-- /footer -->
	
	<!-- scripts -->
	<script src="js/script.js"></script>
</body>
</html>