form {
	input, textarea {
		@include disable-mobile-rounding;
		margin-top: 15px;
		font-size: 1em;
		font-family: $font-body;
	}

	input:focus, textarea:focus {
		outline: none;
	}

	textarea {
		border-bottom: 1px solid $black;
	}

	input[type=text], input[type=password] {
		border: none;
		border-bottom: 1px solid $black;
		//padding-bottom: 5px;
	}

	input[type=text], input[type=password], textarea {
		width: 100%;
	}

	.submit-btn {
		-webkit-appearance: none;
		border: 1px solid $black;
		padding: 5px 25px;
		width: 50%;
		float: right;
	}

	@media(min-width: $md-pre) {
		.submit-btn {
			width: 30%;
		}
	}

	.submit-btn:hover {
		cursor: pointer;
		background-color: $turquoise;
		border-color: $turquoise;
		color: $white;
		transition:
			background-color 0.2s,
			border-color 0.2s ease,
			color 0.2s;
	}

	.delete-btn {
		-webkit-appearance: none;
		border: 2px solid $dk-red;
		color: $dk-red;
		padding: 5px 25px;
		width: 30%;
		font-size: 1em;
		font-family: $font-body;
		float: left;
		margin-top: 25px;
		background: linear-gradient(to right, $dk-red 50%, white 50%);
		background-size: 200% 100%;
	    background-position: right bottom;
	    transition: all 0.2s ease-out;
	}

	.delete-btn:hover {
		cursor: pointer;
		background-position: left bottom;
		color: $white;
	}

	.cancel-btn {
		text-align: center;
		-webkit-appearance: none;
		border: 2px solid $dk-mustard;
		color: $dk-mustard;
		padding: 5px 25px;
		width: 30%;
		font-size: 1em;
		font-family: $font-body;
		float: left;
		margin-top: 25px;
		background: linear-gradient(to right, $dk-mustard 50%, white 50%);
		background-size: 200% 100%;
	    background-position: right bottom;
	    transition: all 0.2s ease-out;
	}

	.cancel-btn:hover {
		cursor: pointer;
		background-position: left bottom;
		color: $white;
	}

	.change-photo-btn {
		text-align: center;
		-webkit-appearance: none;
		border: 2px solid $blue;
		color: $blue;
		padding: 5px 25px;
		width: 30%;
		font-size: 1em;
		font-family: $font-body;
		margin-top: 25px;
		background: linear-gradient(to right, $blue 50%, white 50%);
		background-size: 200% 100%;
	    background-position: right bottom;
	    transition: all 0.2s ease-out;
	}

	.change-photo-btn:hover {
		cursor: pointer;
		background-position: left bottom;
		color: $white;
	}
}

.modal {
	input[type=text], input[type=file] {
		margin-bottom: 50px;
	}
}



