.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    overflow: auto;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9999;
}

.modal-window {
    position: relative;
    background-color: #FFFFFF;
    width: 75%;
    margin: 10% auto;
    padding: 20px;
}

@media(min-width: $md-pre) {
    .modal-window {
        width: 50%;
        padding: 20px 50px;
    }
}

@media(min-width: $md-pre) {
    .modal-window.small {
        width: 30%;
    }
}

.modal-window.large {
    width: 75%;
}

.close {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0,0,0,0.3);
    height: 30px;
    width: 30px;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
}

.close:hover,
.close:focus {
    color: #000000;
    cursor: pointer;
}

.open {
    display: block;
}

// product modal
.product-modal {
    img {
        @include undraggable-img;
        width: 50%;
    }

    form {
        padding-bottom: 75px;
    }

    .small-print {
        font-size: 0.75em;
    }

    .large-photo {
        width: 100%;
        
    }
}

@media(min-width: $md-pre) {
    .product-modal {
        img {
            width: 25%;
        }
    }
}